// Цвета

$identity = #F96952
$primary = #2ecc71

$white = #fff
$black = #000

$lgrey = #f2f2f2
$grey = #ededed
$dgrey = #dadada
$ddgrey = #919191

// Цвета текста
$textBlack     = #333
$textDarkGray  = #7f7f7f
$textGray      = #b2b2b2
$tableHeaderTextColor = #7c7c7c

// Цвета статусов
$statusNew     = #35ADE8
$statusConfirmed = #A855A9
$statusPreparing = #E2544B
$statusPrepared = #F59500
$statusDelivery = #FBC400
$statusCompleted = #2ECC71
$statusCanceled = #989898