@import 'nib'
@import '../tools/_colors'
@import '../tools/_mixins'
@import '../tools/_variables'


// Блок элементов в сайдбаре
.sidebar-block
  padding 20px

  &.thin
    padding 15px 20px

  &.bordered
    border-top 1px solid $dgrey

  &.darken
    background-color $dgrey

  p
    font-size 14px


